.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 88.7vh;
  &__image {
    width: 256px;
    height: 256px;
  }

  &__box {
    height: 14em;
    width: 100%;
    background: rgb(68, 27, 182);
    border-radius: 40% 40% 0 0;
    position: absolute;
    bottom: 0;
  }
}
