.btn {
  width: 14em;
  height: 2.5em;
  border: none;
  box-shadow: none;
  border-radius: 16px;
  cursor: pointer;
  margin: 8px;
  text-align: center;
  &__primary {
    background: linear-gradient(90deg, #f5f9ff 41.26%, #e7f1fe 100%);
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
  }
}
